<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" parallel="false">

    <!-- Define your test configuration -->
    <test name="TestName">
        <parameter name="browser" value="chrome"/>
        <!-- Define classes to be run in the test -->
        <classes>
            <class name="migue.sunnytest.tests.HomePageTest"/>
            <class name="migue.sunnytest.tests.ABPageTest"/>
            <class name="migue.sunnytest.tests.AddRemoveElementsPageTest"/>
            <!-- Add more classes here as needed -->
        </classes>
        
    </test>


</suite>